header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: rgb(88, 144, 88);
}
header div {
  text-align: center;
}
header div h1 {
  color: white;
  font-size: 25px;
}